In [1]:
mytuple = ("apple", "banana", "cherry")

* Tuple items are ordered, unchangeable, and allow duplicate values.
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
* Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Tuple Length

In [2]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

A tuple can contain different data types:

In [3]:
tuple1 = ("abc", 34, True, 40, "male")

# The tuple() Constructor

In [4]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Access Tuple Items

In [5]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Negative Indexing

In [6]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Range of Indexes

In [7]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [8]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

# check if items exist

In [10]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Change Tuple Values

* Tuples are unchangeable, or immutable as it also is called. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Items

*  Tuples do not have a built-in append() method, but there are other ways to add items to a tuple:
    * 1. Convert into a list
    * 2. Add tuple to a tuple

## 1. Convert into a list

In [4]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## 2. Add tuple to a tuple

You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple.

In [5]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",) # Note: When creating a tuple with only one item,
                # remember to include a comma after the item, otherwise it will not be identified as a tuple.
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items

* Note: You cannot remove items in a tuple.
* Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items.

In [6]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [7]:
# delete the tuple completely

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Unpacking a Tuple

* When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [8]:
fruits = ("apple", "banana", "cherry")

* extract the values back into variables. This is called "unpacking":

In [9]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

* Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

## Using Asterisk*

* If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [10]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [11]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Loop Through a Tuple

In [12]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers

In [13]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

# Using a While Loop

In [14]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Join Two Tuples

In [15]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples

In [16]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Tuple Methods

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found