In [1]:
myset = {"apple", "banana", "cherry"}

* Sets are used to store multiple items in a single variable..* 

A set is a collection which is unordered, unchangeable*, and uninde
  * Set items are unchangeable, but you can remove items and add new items.
  * Sets are unordered, so you cannot be sure in which order the items will appear.
  * Set items are do not allow duplicate values.xed.

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [4]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

# Get the len of a set

In [5]:
thisset = {"apple" , "banana" , "cherry"}
print(len(thisset))

3

# Data Types

In [6]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [7]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# The set() Constructor

In [8]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

# Access Set Items

In [9]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [10]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [11]:
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

# Add Items

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

# Add Sets

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'papaya', 'banana', 'cherry', 'pineapple', 'apple'}

# Add Any Iterable

In [14]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'banana', 'cherry', 'apple', 'orange'}

# Remove Item

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [18]:
# You can also use the pop() method to remove an item,
# but this method will remove a random item, so you cannot be sure what item that gets removed.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [20]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Loop Items

In [21]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

# Join Sets

In [22]:
# The union() method returns a new set with all items from both sets.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 'c', 3, 'a'}

In [23]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 2, 'c', 3, 'a'}

# Join Multiple Sets

In [24]:
# All the joining methods and operators can be used to join multiple sets.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'b', 1, 2, 3, 'Elena', 'bananas', 'cherry', 'apple', 'a', 'c', 'John'}

## Join a Set and a Tuple

In [25]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'b', 2, 1, 3, 'a', 'c'}

# Update

In [26]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 'c', 3, 'a'}

# Intersection

In [27]:
# Keep ONLY the duplicates

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

# Difference

In [30]:
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [32]:
# Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [33]:
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [35]:
# The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'cherry', 'google', 'microsoft'}

# Methods

Method	                  Shortcut	Description
add()	 	                        Adds an element to the set
clear()	 	                        Removes all the elements from the set
copy()	 	                        Returns a copy of the set
difference()	             -	    Returns a set containing the difference between two or more sets
difference_update()	         -=	    Removes the items in this set that are also included in another, specified set
discard()	 	                    Remove the specified item
intersection()	             &	    Returns a set, that is the intersection of two other sets
intersection_update()	     &=	    Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	                Returns whether two sets have a intersection or not
issubset()	                 <=	    Returns whether another set contains this set or not
 	                         <	    Returns whether all items in this set is present in other, specified set(s)
issuperset()	             >=	    Returns whether this set contains another set or not
 	                         >	    Returns whether all items in other, specified set(s) is present in this set
pop()	 	                        Removes an element from the set
remove()	 	                    Removes the specified element
symmetric_difference()	     ^	    Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	                     |	    Return a set containing the union of sets
update()	                 |=	    Update the set with the union of this set and others